# ignore everything in this folder
./* 

# self
!.gitignore

# Whitelist docker files
!.dockerignore
!docker-compose.yml
!Dockerfile

# Text files and licenses
!LICENSE
!readme.html
!README.md
!CHANGELOG.md